.sidebar {
    min-height: 650px;
}

.span {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    align-content: center;
    display: block;
    margin-bottom: 5px;
}

.card-image {
    max-height: 150px;
    object-fit: contain;
    align-self: flex-start
}

.reaction {
    left: 100% !important;
}

.close {
    cursor: pointer;
}

.title {
    width: 100%;
    font-size: 25px;
    font-weight: bolder;
    background-color: azure;
    border: none;
}

.area {
    width: 100%;
    background-color: azure;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.tags {
    width: 100%;
    background-color: azure;
    border: none;
}

.comments {
    width: 100%;
    background-color: transparent;
    border: none;
}

.input-comment {
    width: 100%;
    background: transparent;
    border: none;
}

.post-button {
    margin-bottom: 10px;
    margin-top: 10px;
    float: inline-end;
}

.spinner {
    margin: 100px 50px;
}